<!-------------Header------------->
<ion-header>
  <ion-toolbar>
    <!-- Cancel Button -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close" />
        Cancel
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title>{{expense.id ? 'Edit' : 'Add'}} expense</ion-title>

    <!-- Save Button -->
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid">
        <ion-icon slot="start" name="save"/>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-------------Content------------->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <!-- Input Name-->
  <ion-item>
    <ion-icon name="text" slot="start" />
    <ion-input #nameInput formControlName="name" maxlength="40" placeholder="Name" required="true"/>
  </ion-item>

  <!-- Choose Category-->
  <ion-item>
    <ion-icon name="pricetag" slot="start" />
    <ion-select interface="popover" placeholder="Category" formControlName="categoryID">
      @for (category of categories; track category.id) {
        <ion-select-option [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      }
    </ion-select>
    <ion-button (click)="showCategoryModal()">
      <ion-icon name="add"/>
    </ion-button>
  </ion-item>

  <!-- Input amount-->
  <ion-item>
    <ion-icon name="cash" slot="start"/>
    <ion-input type="number" placeholder="Amount" formControlName="amount" step="0.01" inputmode="decimal" />
    <ion-label/>
    <ion-note slot="end">CHF</ion-note>
  </ion-item>

  <!-- Set date-->
  <ion-item>
    <ion-icon name="calendar" slot="start"/>
    <ion-datetime-button datetime="date"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="date" presentation="date" [showDefaultButtons]="true" formControlName="date">
          <span slot="title">Enter the date of the expense</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Delete Button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger">
      <ion-icon name="trash" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
