<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item [button]="true">
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select aria-label="Name (A-Z)" interface="popover" value="Name (A-Z)">
            <ion-select-option value="Created at (newest first)">Created at (newest first)</ion-select-option>
            <ion-select-option value="Created at (oldest first)">Created at (oldest first)</ion-select-option>
            <ion-select-option value="Name (A-Z)">Name (A-Z)</ion-select-option>
            <ion-select-option value="Name(Z-A)">Name(Z-A)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [button]="true">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input placeholder="Search"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
          <ion-label>No categories found</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
