<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button fill="clear" color="medium">
      <ion-icon name="close"></ion-icon>
      CANCEL
    </ion-button>
    </ion-buttons>
    <ion-title>Add category</ion-title>
    <ion-buttons slot="end">
    <ion-button fill="clear">
      <ion-icon name="save"></ion-icon>
      SAVE
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input placeholder="Name"></ion-input>
  </ion-item>
</ion-content>
